<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.socadd"
    android:versionCode="23"
    android:versionName="6.5.1.4" >



    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="InternetTime"
        android:theme="@style/Theme.AppCompat" >
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:label="Some name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".MyService"
            android:icon="@drawable/icon"
            android:label="InternetTime"
            android:launchMode="singleTask" >
        </service>

        <receiver
            android:name=".StartMyService"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
        <receiver android:name=".InTheEnd" />
    </application>

</manifest>